<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="logfile" fileName="${basedir:fallbackDirectory=${basedir}}/../../Logs/myapp-${shortdate}.log"
        layout="${longdate} ${loglevel:uppercase=true} ${logger} - ${message}" autoFlush="true" />
		<target xsi:type="Console" name="logconsole"
                layout="${longdate} ${loglevel:uppercase=true} ${logger} - ${message}" />
	</targets>

	<rules>
		<logger name="ReportProject.*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
	</rules>
</nlog>